@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto' , sans-serif;
    display: flex;
   
    align-items: center;
    justify-content:center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
.container {
    display: flex;
    width: 100vw;
}
.panel {
    background-size: auto 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(143, 118, 118);
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.9s ease-in;
    cursor: pointer;
}
.panel h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 25px;
    margin: 0;
    opacity: 0;
    
}

.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    left: 45%;
    transition: opacity 0.5s ease-in 0.5s;
  

}
@media(max-width: 480px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
    
}